<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Journey Journal</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Amiko&family=Euphoria+Script&family=Neuton:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet" />
        <script src="https://kit.fontawesome.com/9da35d0137.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--Start Nav/Sidebar -->
    <header class='nav-bar'>
        <input type='checkbox' class='checkbox' id='click' hidden>
        <div class='sidebar'>
            <label for='click'>
                <i id='menu-icon' class='far fa-compass fa-2x'></i>
            </label>
            <div class='year'>
                <p>2020</p>
            </div>
        </div>
        <!-- End sidebar begin navbar-->
        <nav class='navigation'>
            <div class='navigation-header'>
                <h1 class='navigation-heading'>
                    Journey Journal
                </h1>
                <button id='start-trip-btn'>
                    Start New Trip
                </button>
            </div>
            <h2 class='nav-subheading'>My Trips:</h2>
            <ul class='navigation-list'>
                <li class='navigation-item'>
                    <a href='#' class='navigation-link'>
                        Example Trip 1
                    </a>
                </li>
                <li class='navigation-item'>
                    <a href='#' class='navigation-link'>
                        Example Trip 2
                    </a>
                </li>
                <div class='copyright'>
                    <p>&copy; 2020. Journey Journal. All Rights Reserved</p>
                </div>
            </ul>
        </nav>
    </header>

    <!-- End Sidebar Begin Main -->


    <main>
        <h1>Journey Journal</h1>
    </main>
</body>
</html>