body {
    display: flex;
    flex-direction: column;

}
h1 {
    font-family: 'Euphoria Script', cursive;
    padding-top: 6rem;
}

.pswd-reset {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
}

form {
    background-color: #286da8;
    height: 100%;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3rem;
    width: 40%;
    border-radius: 15px;
    box-shadow: 2px 5px 8px rgba(0,0,0,0.8), 5px 8px 10px rgba(0,0,0,0.05);
    
    label {
        font-family: 'Neuton', serif;
        font-size: 3rem;
        font-style: italic;
    }    

    input {
        padding: 1rem;
        border-radius: 15px;
        outline: none;
        border: .5px solid #438496;
    }
    
}
input{
    opacity: 1;
}